@import '../../../../styles/settings.scss';

.empty-cart {
  text-align: center;
  text-transform: capitalize;
}
.cart-items {
  width: $smallWidth;
  margin: 0 auto;
  max-width: $maxWidth;
}
.cart-items h2 {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
}
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 5rem;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: $mainSpacing;
  margin-bottom: 0;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: $mainSpacing;
}
.item-amount {
  text-align: center;
  margin-bottom: 0;
}
.cart-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.remove-btn {
  color: $darkGrey;
  letter-spacing: $mainSpacing;
  cursor: pointer;
  font-size: 0.8rem;
}
.amount-btn {
  color: $primaryColor;
  font-size: 1rem;
}
